@model IEnumerable<ToDoAppDemo.WebApp.Models.ToDoTaskDto>

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-md-6"><h2>To Do List</h2></div>
    <div class="col-md-6" style="text-align:right"><a class="btn btn-primary" asp-action="Create">Create New</a></div>
</div>


@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Count() == 0)
        {
            <tr style="text-align:center">
                <td colspan="3">No records found.</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td style="width:250px;">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        }
        
    </tbody>
</table>
